{{define "content"}}
{{$data := .}}
<h1>Events</h1>
<div style="text-align: left;">Total owed to KKNR: <b>R {{centsToRandsStr .TotalOwedInC}}</b></div>
{{if .UserCanAdd}}<div style="text-align: right;"><a href="/addEvent">Add Event</a></div>{{end}}
<table width="100%" style="padding-right:4px;">
    <th>Date & Time</th>
    <th>Title</th>
    <th>Organiser</th>
    <th style="text-align: center;">Paid (R)</th>
    <th></th>
    <th></th>
    {{range .Events}}
        <tr>
            <td>{{.Date.Format "2006-01-02 15h04"}}</td>
            <td>{{.Title}}</td>
            <td>{{index $data.NameByUserId .OrganiserId}}</td>
            <td style="text-align: center;color: {{if .IsPaymentCompleted}}green{{else}}red{{end}};">{{centsToRandsStr (index $data.AmountDueInCByEventId .IdempotencyId)}}</td>
            {{if $data.UserCanEdit}}<td><a href="/events/{{.IdempotencyId}}">Edit</a></td>{{end}}
            <td><a href="/registers/{{.IdempotencyId}}">View Register</a></td>
        </tr>
    {{end}}
</table>
{{end}}