{{define "content"}}
{{$data := .}}
<h1>Events</h1>
{{if .UserCanAdd}}<div style="text-align: right;"><a href="/addEvent">Add Event</a></div>{{end}}
<table>
    <th>Date & Time</th>
    <th>Title</th>
    <th>Organiser</th>
    {{range .Events}}
        <tr>
            <td>{{.Date.Format "2006-01-02 15h04"}}</td>
            <td>{{.Title}}</td>
            <td>{{index $data.NameByUserId .OrganiserId}}</td>
            {{if $data.UserCanEdit}}<td><a href="/events/{{.IdempotencyId}}">Edit</a></td>{{end}}
            <td><a href="/registers/{{.IdempotencyId}}">View Register</a></td>
        </tr>
    {{end}}
</table>
{{end}}