{{define "content"}}
<h1>Event details</h1>
<form action="/api/events" method="POST">
    <input type="hidden" value="{{.IdempotencyId}}" name="idempotencyId">
    <input type="hidden" value="{{.IsUpdate}}" name="isUpdate">
    <label>Date<span style="color:red;">*</span></label>
    <input type="date" name="date" value="{{.Date}}" required><br />
    <label>Time (24 hour, e.g. 8:00, 13:00)<span style="color:red;">*</span></label>
    <input type="text" name="time" value="{{.Time}}" required><br />
    <label>Title<span style="color:red;">*</span></label>
    <input type="text" name="title" value="{{.Title}}" required><br />
    <label>Organiser<span style="color:red;">*</span></label>
    <select name="organiserId" id="organiserId" required>
    {{range .Users}}
        <option value="{{.Id}}" {{if eq .Id $.OrganiserId}}selected{{end}}>{{.Name}}</option>
    {{end}}
    </select><br />
    <label>Allow guests to sign register</label>
    <input type="checkbox" name="allowNewEntries" value="allowed" {{if .AreNewEntriesAllowed}}checked{{end}}><br />
    <label>Payment made to KKNR</label>
    <input type="checkbox" name="paymentCompleted" value="paid" {{if .IsPaymentCompleted}}checked{{end}}><br /><br />
    <button type="submit">Submit</button>
    <button onclick="history.back()">Cancel</button>
</form>
{{end}}