{{define "content"}}
<h1>Events</h1>
<div style="text-align: right;"><a href="/addEvent">Add Event</a></div>
<table>
    <th>Date & Time</th>
    <th>Location</th>
    <th>Organiser</th>
    {{range .Events}}
        <tr>
            <td>{{.Date.Format "2006-01-02 15h04"}}</td>
            <td>{{.Title}}</td>
            <td>{{.OrganiserId}}</td>
            <td><a href="/events/{{.IdempotencyId}}">Edit</a></td>
            <td><a href="/registers/{{.IdempotencyId}}">Register</a></td>
        </tr>
    {{end}}
</table>
{{end}}