{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Event Register</title>
</head>
<body>
    <div style="text-align: right;">
    Logged in as <span style="color:green;">{{.CurrentUser.Name}}</span> 
    {{if .CurrentUser.IsGuest}}
        (<a href="/login">Log in</a>)
    {{else}}
        (<a onClick="logout()" href="#">Log out</a>)        
    {{end}}
    </div>
    <main>
        {{block "content" .}}
            <p>There should be content here.</p>
        {{end}}
    </main>
    <script language="javascript">
        async function logout() {
            const response = await fetch("/api/usersession", { method: "DELETE" });
            location.reload();
        }
    </script>
</body>
</html>
{{end}}