{{define "content"}}
{{$data := .}}
<h1>{{.Event.Title}}</h1>
{{if .CanEdit}}
<p><a href="/events/{{.Event.IdempotencyId}}">Edit Event</a></p>
{{end}}
<p>
    Date & Time: <b>{{.Event.Date.Format "2006-01-02 15h04"}}</b><br />
    Organiser: <b>{{index .NameByUserId .Event.OrganiserId}}</b><br />
    {{if .Event.AreNewEntriesAllowed}}
    <br />
    <input type="hidden" id="link" value="{{.Link}}">
    <button id="copyLink" onclick="copyLink()">Copy Link</button>
    {{end}}
</p>
{{if .Event.AreNewEntriesAllowed}}
<div style="text-align: center; font-size: 1.1em;"><a href="/addRegisterEntry?eventId={{.Event.IdempotencyId}}">>> Sign the register <<</a></div>
{{end}}
<table width="100%" style="padding-right:4px;">
    <th>Name</th>
    <th>Phone</th>
    <th>Vehicle Reg.</th>
    <th>Rhino Card</th>
    {{range .SortedPaymentOptions}}
        <th style="text-align: center;">{{.Name}}</th>
    {{end}}
    <th>Due (R)</th>
    {{range $i, $e := .Event.Entries}}
        <tr>
            <td>{{$e.PersonName}}</td>
            <td>{{$e.PersonContactNumber}}</td>
            <td>{{$e.VehicleRegistration}}</td>
            <td>{{$e.RhinoCard}}</td>
            {{range $o := $data.SortedPaymentOptions}}
                <td style="text-align: center;">{{with (index $e.EntrantCountByPaymentTypeId $o.Id)}}{{.}}{{else}}-{{end}}</td>
            {{end}}
            <td style="text-align: center;">{{centsToRandsStr $e.AmountDueInC}}</td>
        </tr>
    {{end}}
</table>
<div style="text-align: right;">Total due: <span style="font-weight: bold;">R {{centsToRandsStr $.TotalDueInC}}</span></div>
<script language="javascript">
    function copyLink() {
        linkElement = document.getElementById("link")
        navigator.clipboard.writeText(linkElement.value)
        document.querySelector("#copyLink").innerHTML="Copied"
    }
</script>
{{end}}